.time-line-container>div:last-child .education__time>.education__line {
    display: none;
    
}
body {
    font-family: "Product Sans", Arial, sans-serif;
  }
  
  h1 {
    font-family: "Product Sans", Arial, sans-serif;
  }
  